/lib/
/bin/
/.shards/
/.crystal-cache/
*.dwarf
/data/

# macOS resource fork files (FAT32 removable drives)
._*

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
